@page
@model IndexModel
@{
    ViewData["Title"] = "Puddes Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to @Model.City, @Model.Name </h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
